body{
  background: url(https://w7.pngwing.com/pngs/56/112/png-transparent-forest-grove-school-district-background-check-student-school-background-with-pencils-color-pencil-with-blue-sharpener-illustration-pencil-text-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: #000C66;
  margin-top: 30px;
  font-size: 70px;
}

h2{
  text-align: center;
  color: #05445E;
  font-size: 30px;
}

.page-logo{
  position: absolute;
  top: 30px;
  left: 10px;
  width: 20%;
  border-radius: 50%;

}
